#playerBox {
	position: fixed;
	bottom: 0;
	height: 148px;
	width: 100%;
	background-color: ghostwhite;
	opacity: 0.95;
}

#progress-bar {
    position: absolute;
    z-index: 10;
    top: 50%;
    margin-top: -10px;
    left: 5%;
    width: 90%;
}

#workSpace {
	padding-top: 60px;
	min-height: 100vh;
	padding-bottom: 160px;
}

#tileSpace {
	position: relative;
	width: 100%;
	height: 100%;
}

#filterList {
	display: none;
}

.outerCenterDiv {
	display:table;
	width:100%;
	height:100%;
	text-align:center;
}
.innerCenterDiv {
	display:table-cell;
	vertical-align:middle;
	width: 100%;
	padding: 10px;
}

#jp_container_1 {
	margin-left: auto;
	margin-right: auto;
}
.jp-type-single {
	width: 420px;
	margin-left: auto;
	margin-right: auto;
}

.soundtile {
	background-color: black;
	border-radius: 5px;
	height: 150px;
	width: 150px;
	margin: 15px;
	cursor: pointer;
}
h1 { margin: 0;}
p {
	color: ghostwhite;
	font-size: 1.25em;
}
body { 	background: url(hash.png) repeat; }

.led-red {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #940;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #F00 0 -1px 9px, #F00 0 2px 12px;
    z-index: 10;
}

.led-yellow {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #A90;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #DD0 0 -1px 9px, #DD0 0 2px 12px;
    z-index: 10;
}

.led-green {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #690;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #460 0 -1px 9px, #7D0 0 2px 12px;
    z-index: 10;
}

.led-blue {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #4AB;
    border-radius: 50%;
    box-shadow: #000 0 -1px 7px 1px, inset #006 0 -1px 9px, #06F 0 2px 14px;
    z-index: 10;
}

.led-dark {
    margin: 20px auto;
    width: 12px;
    height: 12px;
    background-color: #222;
    border-radius: 50%;
    box-shadow: #000 0 -1px 3px 1px, inset #000 0 -1px 9px, #222 0 0px 0px;
}

.navbar-led {  
    position: absolute;
    margin: 0;
}

.led-wrapper {
    margin: 6px 0 0 12px;
    width: 12px;
    height: 12px;
}


